<!-- Delete Modal -->
<div class="delete-model-wrapper">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="btn-close" (click)="close()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-13 text-center">
            <h5 class="text-black"> {{ 'shared.deleteConfirmationMessage' | translate }} </h5>
          </div>
        </div>
        <div class="modal-footer border-0 mx-auto">
          <button type="
              button" class="morelight-btn" (click)="close()"> {{ 'shared.cancel' | translate }} </button>
          <button type="button" class="btn main-btn" (click)="deleteAction()"> {{ 'shared.confirm' | translate }} </button>
        </div>
      </div>
    </div>
  </div>