<div class="page-wrapper compact-wrapper dark-sidebar" id="pageWrapper" *ngIf="currentUser != null">
  <app-nav-bar></app-nav-bar>


  <div class="page-body-wrapper">

    <div class="sidebar-wrapper">
      <app-side-bar></app-side-bar>
    </div>

    <div class="page-body">
      <router-outlet></router-outlet>
    </div>

    <footer class="footer">
      <app-footer></app-footer>
    </footer>

  </div>

</div>

<div class="page-wrapper compact-wrapper dark-sidebar" id="pageWrapper" *ngIf="currentUser == null">
<!--   <div class="page-body-wrapper">


    <div class="page-body">
      <router-outlet></router-outlet>
    </div>



  </div> -->
<app-login></app-login>
</div>